@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;700&display=swap');

:root {
    /* declaring css color variables */
    --dark-green: #ccd5ae;
    --light-green: #e9edc9;
    --white: #fefae0;
    --light-brown: #faedcd;
    --dark-brown: #d4a373;
}

body {
    /* this helps from content being hidden behind the footer */
    padding-bottom: 150px;
    padding-top: 100px;
    background-color: var(--light-green);
    font-family: 'Spline Sans Mono', monospace, sans-serif;
}


/* navigation */
nav {
    background-color: var(--dark-green);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 1px 1px #000;
}

a.navbar-brand:hover {
    color: #000!important;
    font-weight: 300;
    text-shadow: 1px 1px white;
}

.links {
    padding: 1rem;
    width: 48px;
    height: 48px;
}
/* navigation end */

/* footer */
footer {
    background-color: var(--dark-green);
}

.fa-linkedin:hover {
    background: #0072b1;
    color: white;
}

.fa-github:hover {
    background: #000;
    color: #fff;
}

.fa-file-pdf:hover {
    background: #d90429;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.fa-google:hover {
    background: linear-gradient(#EA4335, #FBBC05, #34A853, #4285F4);
    color: #fff;
    text-shadow: 1px 1px #000;
}

.fa-phone:hover {
    background: #fff;
    color: #000;
    text-shadow: 1px 1px #909595;
}
/* footer end */



/* MEDIA QUERIES */

/* screen sizes 992px or smaller */
@media screen and (max-width: 992px) {
    .navbar-toggler:hover, a.nav-link:hover {
        background-color: var(--light-green);
    }
}